body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1f2937;
    color: #F9FAF8;
}

header {
    display: flex;
    padding: 20px 5%;
    justify-content: space-between;
    background-color: #1f2937;
    color: #F9FAF8;
}

.headerLeft {
    font-weight: 700;
}

.headerRight>a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 0px 10px;
}

.sectionOne {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    height: 300px;

}

.sectionOneLeft {
    width: 50%;
    color: #F9FAF8;
}

.sectionOneLeft>p {
    color: #E5E7EB;
}

.sectionOneLeft>button {
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.sectionOneRight {
    border: 1px solid black;
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 118, 133);
}

.sectionTwo {
    background-color: white;
    color: black;
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
}

.sectionTwoHeader {
    text-align: center;
}

.sectionTwoMain {
    display: flex;
    justify-content: space-evenly;
}

.sectionTwoMainItem {
    width: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTwoImage {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

.sectionTwoMainItem>p {
    text-align: center;
}

.sectionThree {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30%;
}